.cart-list {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 -15px;
    &_padding {
        padding: 0 15px;
        align-items: center;
        width: 25%;
    }
    &_catalog {
        padding: 0 15px;
        align-items: center;
        width: 33.333%;
    }
    &_padding-catalog {
        margin: 15px 0;
    }
}
.cart {
	padding: 15px 15px 20px 14px;
	background-image: $turquoise;
	border-radius: 16px;
	position: relative;
	transition-duration: 0.3s;
	transition-property: filter;
    & a {
        text-decoration: none;
    }
    &__discount {
        font-size: 14px;
	    line-height: 16px;
	    background-color: $red;
        color: $white;
        display: inline-flex;
        padding: 9px 16px;
        border-radius: 10px;
        position: absolute;
        top: 8px;
        left: 8px;
    }
    &__img {
        height: 268px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        border-radius: 8px;
    }
    &__name {
        font-size: 16px;		
        line-height: 19px;
        margin-top: 17px;
        margin-bottom: 12px;
        color: $grey-1;
    }
    &__price {
        display: flex;
        justify-content: space-between;
        &_old {
            text-decoration: line-through;
            font-size: 18px;
            line-height: 140%;
            margin: 0 0 16px 0;
            color: $grey-1;
        }
        &_new {
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            margin: 0 16px 19px 0;
        }
    }
    &__buy {
        padding: 13px 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background-color: $white;
        text-decoration: none;
        color: $grey-1;
        transition-duration: 0.3s;
        transition-property: background-color;
        border: 1px solid $yellow;
        letter-spacing: 0.1em;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        &:hover {
            background-color: $yellow;
        }
    }
    &__novelty {
        font-size: 14px;
        line-height: 16px;
        background-color: $yellow;
        color: $purple;
        display: inline-flex;
        padding: 9px 16px;
        border-radius: 10px;
        position: absolute;
        top: 8px;
        left: 8px;
    }
    &:hover {
    filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.12));
    }
}

@media (max-width: 991px) {
    .cart-list_padding {
        width: 33.333%;
        }
    .cart_4 {
        display: none;
    }
}

@media (max-width: 765px) {
    .cart-list_padding {
        width: 50%;
    }
    .cart_3 {
        display: none;
    }
}

@media (max-width: 630px) {
    .cart_3 {
        display: block;
    }
    .cart_4 {
        display: block;
    }
    .cart-list {
        width: 405px;
        border: 1px solid transparent;
    }
    .cart-list_padding {
        width: 100%;
        padding: 15px;
    }
}