.form {
	display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 15px;
    &__payment {
        width: 225px;
    }
    &__contact-article,
    &__adress-article {
        width: 298px;
        height: 234px;
        display: inline;
    }
    &__contact-article {
        margin: -6px 29px 11px 4px;
        position: relative;
    }
    &__adress-article {
        margin: -220px 0 0 331px;
    }
    &__adress {
        width: 659px;
        display: inline-flex;
        flex-wrap: wrap;
    }
    &__text-all-pay {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        color: $grey-2;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    &__text-price {
        font-weight: bold;
        font-size: 32px;
        line-height: 37px;
        color: $grey-1;
        margin-bottom: 34px;
    }
    &__text-payment,
    &__text-delivering {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $grey-1;
        margin-bottom: 16px;
    }
    &__text-delivering {
        margin-top: 24px;
    }
    &__label {
        position: relative;
    }
    &__input {
        position: absolute;
        left: 0;
        top: 0;
        &:checked + .form__span-text::before {
            display: block;
        }
    }
    &__span-text {
        font-size: 16px;
        line-height: 19px;
        color: $grey-2;
        margin-bottom: 6px;
        display: inline-flex;
        position: relative;
        height: 32px;
        padding-left: 42px;
        align-items: center;
        &::after {
            content: '';
            border: 2px solid $grey-1;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            position: absolute;
            left: 0px; 
            top: 0px;
            }
        &::before {
            display: none;
            content: '';
            position: absolute;
            left: 9px; 
            top: 9px;
            width: 14px;
            height: 14px;
            background-color: $purple;
            border-radius: 50%;
            z-index: 2;
        }
        &:hover::after {
            background-color: $grey-5;
        }
        &:hover::before {
            background-color: $grey-5;
            display: none;
            content: '';
            position: absolute;
            left: 9px; 
            top: 9px;
            width: 14px;
            height: 14px;
            background-color: $purple;
            border-radius: 50%;
        }
    }
    
    &__text-top_contact {
        font-weight: 500;
	    font-size: 14px;
	    line-height: 16px;
	    letter-spacing: 0.1em;
	    color: $grey-1;
	    text-transform: uppercase;
	    display: flex;
	    margin-bottom: 13px;
        margin-left: 19px;
        margin-top: -3px;
    }
    &__text-top_adress {
        font-weight: 500;
	    font-size: 14px;
	    line-height: 16px;
	    letter-spacing: 0.1em;
	    color: $grey-1;
	    text-transform: uppercase;
	    display: flex;
	    margin-bottom: 24px;
        margin: -9px 0 63px 17px;
    } 
    &__pay {
        margin-top: -6px;
	    margin-left: 18px;
    }
    &__input-adress {
        background-color: $grey-5;
        border-radius: 12px;
        width: 298px; 
        height: 51px;
        margin: 5px 15px;
        padding: 16px;
        border: 2px solid transparent;
        font-size: 16px;
        line-height: 19px;
        &:hover {
            border: 2px solid $grey-4;
        }
        &:focus {
            background-color: $white;
            border: 2px solid $grey-4;
            outline: none;
        }
    }
    &__input-comment {
        height: 117px;
        width: 626px;
        background-color: $grey-5;
        border-radius: 12px;
        border: 0px;
        padding: 16px 0 0 16px;
        margin: 40px 0 9px 20px;
        border: 2px solid transparent;
        font-family: inherit;
        &:hover {
            border: 2px solid $grey-4;
        }
        
        &:focus {
            background-color: $white;
            border: 2px solid $grey-4;
            outline: none;
        }
    }
    &__button-pay {
        height: 48px;
        display: flex;
        justify-content: flex-end;
        margin: 19px 106px 76px 0;
    }
    &__button-subm {
        padding: 16px 29px;
        color: $white;
        background-color: $red;
        border-radius: 12px;
        text-transform: uppercase;
        border: 0px;
        letter-spacing: 0.1em;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
        transition-duration: 0.3s;
        transition-property: opacity;
        &:hover {
            opacity: 0.7;
        }
        
        &:active {
            opacity: 0.3;
        }
    }
}

@media (max-width: 630px) {
    .form {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        justify-content: flex-start;
    }
    .form__payment {
        width: 343px;
        display: block;
        
    }
    .form__adress {
        width: 343px;
        margin: 0;
        display: inline;
    }
    .form__input-adress {
        width: 343px;
        margin: 5px 0;
    }
    .form__text-top_adress {
        margin: 0;
    }
    .form__text-top_contact{
        margin: 50px 0 20px 0;
    }
    .form__input-comment {
        margin: 40px 0 10px 0px;
        width: 343px;
    }
    .form__button-pay {
        margin: 19px 0 76px 0;
    }
    .form__button-subm {
        margin-right: auto;
        width: 343px;
    }
}