.menu {
	display: flex;
	padding: 0;
	margin-bottom: 30px;
    li {
        text-align: center;
	    list-style-type: none;
	    position: relative;
	    margin-top: 5px;
	    padding-right: 1px;
        &:hover .menu__second { 
            display: block;
        }
    }
    &__item > a {
        font-size: 18px;
	    line-height: 140%;
	    color: var(--grey-1);
	    text-decoration: none;
	    padding-right: 20px;
	    margin-right: 54px;
	    position: relative;
	    transition-duration: 0.5s;
	    transition-property: color;
        &::after {
            content: '';
            background-image: url(../img/arrow-bottom.svg);
            width: 13px; 
            height: 7px;
            position: absolute;
            right: 1px;
            top: 8px;
        }
    }
    &__item:hover > a {
        color: $purple;
    }
    &__item:hover > a::after {
    content: '';
	transform: rotate(180deg);
    }
    &__second {
        display: none;
        padding: 12px 16px;
        width: 168px;
        background: $white;
        border: 0.25px solid $grey-5;
        box-shadow: 0px 14px 32px rgba(0, 0, 0, 0.11), inset 0px 0px 1px #C5C5C5;
        border-radius: 8px;
        position: absolute;
        z-index: 2;
        a {
            display: flex;
            padding: 4px 0;
            color: $grey-2;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: $grey-1;
            }
        }
    }
}


@media (max-width: 630px) {
    .menu {
        display: none;
    }
}