.paginator {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 42px 0 91px 328px;
    &__link,
    span {
        color: $grey-1;
        border: 1px solid $grey-4;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        text-decoration: none;
        margin: 10px 4px;
        transition-duration: 0.3s;
        transition-property: color, border;
        &:hover {
            color: $purple;
	        border: 1px solid $purple;
        }
        &_active {
            color: $purple;
            border: 1px solid $purple;
        }
    }
    &__arrow-left {
        background-image: url(../img/arrow-left.svg);
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        width: 32px;
        height: 32px;
        background-color: $white;
        border-radius: 50%;
        margin-right: 8px;
        transition-duration: 0.3s;
        transition-property: background-color;
        &:hover {
            background-color: $grey-4;
        }
    }
    &__arrow-right {
        background-image: url(../img/arrow-left.svg);
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        transform: rotate(180deg);
        width: 32px;
        height: 32px;
        background-color: $white;
        border-radius: 50%;
        margin-left: 8px;
        transition-duration: 0.3s;
        transition-property: background-color;
        &:hover {
            background-color: $grey-4;
        }
    }
}

@media (max-width: 630px) {
    .paginator {
        margin: 50px 0 50px 0;
    }
}