.title-h2 {
    font-weight: bold;
	font-size: 32px;
	line-height: 37px;
	color: $grey-3;
	width: 1280px;
	margin: 50px 0 32px 0;
}

@media (max-width: 630px) {
    .title-h2 {
        width: 375px;
        display: flex;
        justify-content: center;
    }
}